@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif, "Oranienbaum";
  background-size: calc(100% + (20% * ((100vw - 320px) / (1280 - 320)))) auto;
}

/*body {
  background-size: calc(100% + (20% * ((100vw - 320px) / (1280 - 320)))) auto;
}*/


@theme {
  --color-purphaze: #5B15FF;
}

@theme light {
  body {
    color: var(--foreground);
    background: var(--background);
  }
}

@theme dark {
  body {
    color: var(--foreground);
    background: var(--background);
  }
}
